<nav class="navbar navbar-inverse">
  <%= link_to 'Anasayfa', anasayfa_path %>
  <%= link_to 'Hakkımızda', hakkimizda_path %>
   <%= link_to 'İletişim', iletisim_path %>
   <br/>
      <%= link_to 'Yeni Film Ekle',new_movie_path %>
</nav>
